*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
    background-image: url("images/background-grid.png");
    background-size: cover;
    background-attachment: fixed;
}

/*Text*/

@font-face{
    font-family: "consolas";
    src:"fonts/consola.ttf"
}
@font-face{
    font-family: "consolas-bold";
    src:"fonts/consolab.ttf"
}
@font-face{
    font-family: "consolas italic";
    src:"fonts/consolai.ttf"
}
hr{
    width: 100%;
}
h1{
    font-family: "consolas";
    color: white;
    position: relative;
    cursor: pointer;
    font-size: 36px;
    font-weight: 200;
    animation: glitch 1s linear infinite;
}
h2{
    font-family: "consolas";
    color: white;
    font-size: 24px;
    font-weight: 200;
}
h3{

    font-family: "consolas";
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 200;   
}
h4{
    font-family: "consolas-bold";
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 200; 
}
ul{
    margin-top: 24px;
    margin-bottom: 24px;
}
li{
    list-style: none;
    font-weight: 400;
    margin: 10px 0;
    font-family: "consolas";
    color: white;
    font-size: 16px;
}
.topnav h2{
    font-family: "consolas";
    color: white;
    font-size: 24px;
    font-weight: 200;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.footer h4{
    font-family: "consolas";
    color: white;
    font-size: 24px;
    font-weight: 200;
    margin-left: 24px;
    margin-right: 24px;
}
p{
    font-family: "consolas";
    font-size: 16px;
    line-height: 24px;
    color: white;
}
a{
    cursor: pointer;
}
blockquote{
    font-family: "consolas";
    font-size: 16px;
    line-height: 21px;
    color: white;
}
.case-study-headings{
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: "consolas bold";
    color: white;
}
.footer h2{
    color: white;
}
#editor{
    width: 100%;
    height: 400px;
    resize: none;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: inline-block;
    font-size: .75rem;
}
/*Images*/
.image-fullscreen{
    width: 1080px;
    justify-items: center;
    align-items: center;
}
#pfp{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url("images/pfp.JPG");
    background-size: cover;
}
#pfp::after{
    content: url("images/pulsewhite.svg");
}
.project-image{
    background-position: center; 
    background-size: cover;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}
#project-1{
    background-image: url('artwork/Project\ 1/thumbnail1.png');
}
#project-2{
    background-image: url('artwork/Project\ 2/thumbnail2.png');
}
#project-3{
    background-image: url('artwork/Project\ 3/thumbnail3.png');
}
#project-4{
    background-image: url('artwork/Project\ 4/heart1.gif');
}
#skorochod-thumbnail{
    width: 565px;
    height: 405px;
}
#woodblock-1{
    width: 258px;
    height: 400px;
}
#woodblock-2{
    width: 263px;
    height: 400px;
}
#woodblock-3{
    width: 500px;
    height: 357px;
    margin-left: 24px;
    margin-right: 24px;
}
#move-image{
    width: 303px;
    height: 198px;
}
#move-screens{
    width: 387.5px;
    height: 764px;
}
#move-footage{
    width: 411.5px;
    height: 234px;
}

/*ORB BUTTON*/


.mobile-hero{
    display: none;
}
.pulse:hover{ 
    animation: pulse 2s ease infinite;
    color: black;
    background-color: white;
    cursor: pointer;
}
.pulse-svg{
    background-image: url('images/pulsewhite.svg');
    z-index: 2;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.pulse-svg:hover{
    background-image: url("images/pulse.svg");
    animation: rotate 1s ease-in-out;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}
.pulse{
    z-index: 1;
    display: flex;
    font-size: 16px;
    color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    outline: solid 3px rgb(255, 255, 255);
    outline-offset: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "consolas";
    font-size: 16px;
}
#pulse-1{
    top: 5%;
    left: 35%;
}
#pulse-2{
    top: 10%;
    left: 10%;
}
#pulse-3{
    top: 20%;
    left: 10%;
}
#pulse-4{
    top: 25%;
    left: 35%;
}
.spin-animation{
    display: inline-flex;
    vertical-align: middle;
    z-index: -1;
}
.spin{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 100%;
    position: absolute;
    z-index: -1;
    transform-origin: bottom left;
    transform-style: preserve-3D;
    top: 50%;
    left: 50%;
    visibility: hidden;
}
.spinClass{
    animation: spin 2.5s ease-in-out infinite;
    visibility: visible;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
        width: 100px;
        height: 100px;
        top: -15%;
        left: 50%;
        visibility: visible;
    }
    100%{
        transform: rotate(360deg);
        width: 100px;
        height: 100px;
        top: -15%;
        left: 50%;
        visibility: visible;
    }
}

@keyframes pulse {
    0% {
        outline-offset: 0px;
        outline-color: white;
    }
    100% {
        outline-offset: 25px;
        outline-color: black;
    }
}

@keyframes name-card-pulse {
    0% {
        outline-offset: -5px;
        outline-color: white;
    }
    100% {
        outline-offset: 300px;
        outline-color: black;
    }
}

/*ORB CONTAINER*/
.name-card{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    outline: white;
    outline-offset: -5px;
    animation: name-card-pulse 3s ease-in-out infinite;
    vertical-align: middle;
    top: 20%;
    left: -25%;
    background-image: url('images/pulsewhite.svg');
}
.name-card-pulse{
    z-index: -2;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border-style: none;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.168));
    position: absolute;
    outline: solid 3px white;
    outline-offset: 0;
    top: 0;
    left: 0;
}
.name-card-pulse:nth-child(2){
    outline: dotted 3px white;
    outline-offset: 20px;
    animation: rotate 40s linear infinite;
}
.name-card-pulse:nth-child(3){
    outline: solid 3px white;
    outline-offset: 40px;
}
.hero-text{
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    transform: translate(0, 200%);
}

/*Containers*/

.topnav{
    box-sizing: border-box;
    display: block;
    align-items: center;
}
.mobile-nav{
    display: none;
}
.sidenav{
    display: none;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#index-item{
    margin-right: 0px;
}
.content{
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
}
.grid-container-half{
    grid-template-columns: 50% 50%;
    display: grid;
}
.grid-container-third{
    box-sizing: border-box;
    grid-template-columns: 33% 33% 33%;
    display: grid;
    width: 100%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.grid-container-quarters{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid-container-nav{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 125px 125px 125px 125px;
    height: 60px;
    max-width: 100%;
    padding-left: 120px;
    padding-right: 120px;
}
.work-title{
    margin-top: 48px;
    margin-bottom: 24px;
}
.rem-title{
    margin-top: 48px;
    margin-bottom: 24px;
}
.skorochod-title{
    margin-top: 48px;
    margin-bottom: 24px;
}
.scopes-title{
    margin-top: 48px;
    margin-bottom: 24px;
}
.dissecting-title{
    margin-top: 48px;
    margin-bottom: 24px;
}
.move-title{
    margin-top: 48px;
    margin-bottom: 24px;
}
button:hover{
    color: black;
    background-color: white;
    border-color: black;
}
button{
    width: 100px;
    height: 32px;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-family: "consolas";
}
.profile-icon{
    background-image: url("images/profile_picture.png");
    background-size: contain;
    width: 60px;
    height: 60px;
}
.project-card{
    padding: 24px;
    text-align: center; 
}
.project-image{
    width: 300px;
    height: 300px;
    background-color: black;
    margin-bottom: 24px;
    text-align: center;
}
form{
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    place-items: center;
}
.form-wrapper{
    margin-top: 132px;
}
input{
    max-width: 450px;
    min-width: 450px;
    width: 100%;
    height: 32px;
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;
    font-family: "consolas";
}
#message{
    width: 100%;
    height: 100px;
    border-radius: 16px;
    max-height: 100px;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;
    font-family: "consolas";
}
#submit{
    margin-top: 16px;
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s ease-in;
    overflow: auto;
    scroll-snap-type: x mandatory;
    max-height: 612px;
}
.carousel-image{
    max-height: 612px;
    width: auto;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
/*Header Keyframes Animation*/

h1:before, h1:after{
    content: "FRANCIS FITZGERALD";
    position: absolute;
    left: 94px;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
h1:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
h1:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Work Page Animation*/

.work-title h2:before, .work-title h2:after{
    content: "My Work";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.work-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.work-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*About Page Animation*/
.about-title h2:before, .about-title h2:after{
    content: "Francis Fitzgerald";
    position: absolute;

}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.about-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.about-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 123px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Skorochod Animation*/

.skorochod-title h2:before, .skorochod-title h2:after{
    content: "Skorochod Restaurant Branding";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.skorochod-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.skorochod-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Spotify Scopes Animation*/

.scopes-title h2:before, .scopes-title h2:after{
    content: "Spotify Scopes";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.scopes-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.scopes-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*Dissecting Page Animation*/

.dissecting-title h2:before, .dissecting-title h2:after{
    content: "Dissecting How You Feel";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.dissecting-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.dissecting-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

.scopes-title h2:before, .scopes-title h2:after{
    content: "Spotify Scopes";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.scopes-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.scopes-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*REM Page Animation*/

.rem-title h2:before, .rem-title h2:after{
    content: "REM Film Festival";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.rem-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(0px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.rem-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*MOVE Animation*/

.move-title h2:before, .move-title h2:after{
    content: "MOVE!";
    position: absolute;
}
@keyframes glitch{
    2%, 64%{
        transform: translate(3px, 0) skew (0deg);
    }
    4%, 60%{
        transform: translate(-2px, 0) skew (0deg);
    }
    62%{
        transform: translate(0, 0) skew(0deg);
    }
}
.move-title h2:before{
    animation: glitchtop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    left: 119px;
}
@keyframes glitchtop{
    2%, 64%{
        transform: translate(0px, 0px);
    }
    4%, 60%{
        transform: translate(1px, 0);
    }
    62%{
        transform: translate(30px, -1px) skew(-2deg);
    }
}
.move-title h2:after{
    animation: glitchbottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    left: 120px;
}
@keyframes glitchbottom{
    2%, 64%{
        transform: translate(0, 0);
    }
    4%, 60%{
        transform: translate(0, 0);
    }
    62%{
        transform: translate(-30px, 1px) skew(21deg);
    }
}

/*SPOTIFY SCOPES*/
.user-card h2{
    font-size: 24px;
    line-height: 24px;
}
iframe{
    width: 565px;
    height: 405px;
}
#screens{
    display: inline-flex;
    vertical-align: middle;
    width: 640px;
    height: 480px;
}
.user-card{
    padding: 24px;
    margin-right: 36px;
    margin-bottom: 16px;
    margin-top: 16px;
    display: inline-block;
    max-width: 100%;
    line-height: 21px;
}
#uc-six{
    padding: 16px;
}
#user-image-one{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background-image: url("images/persona2.png");
    filter: grayscale(100%);
    background-size: contain;
    display: inline-flex;
}
#user-image-two{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background-image: url("images/persona1.png");
    filter: grayscale(100%);
    background-size: contain;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.action-block{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    padding: 16px;
    font-family: 'consolas';
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.25rem;
    margin: 16px;
    color: white;
}
#arrow{
    width: 25px;
    height: 25px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.path{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    margin-top: 16px;
}
.sketches{
    margin: auto;
    display: block;
}

/*BOOK*/

#prev{
    z-index: 10;
}
#next{
    z-index: 10;
}
.book-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book{
    position: relative;
    width: 550px;
    height: 855px;
    transition: transform 0.5s;
    margin-left: 24px;
    margin-right: 24px;
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}
.front {
    z-index: 1;
    backface-visibility: hidden;
}
.back {
    z-index: 0;
}
.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-content{
    transform: rotateY(180deg)
}
/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}
/* Paper stack order */
#p1{
    z-index: 5;
}
#f1{
    background-image: url('artwork/Project\ 1/program_01.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#b1{
    background-image: url('artwork/Project\ 1/program_02.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#p2{
    z-index: 4;
}
#f2{
    background-image: url('artwork/Project\ 1/program_03.jpg');
    background-size: cover;
    box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.2);
}
#b2{
    background-image: url('artwork/Project\ 1/program_04.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#p3{
    z-index: 3;
}
#f3{
    background-image: url('artwork/Project\ 1/program_05.jpg');
    background-size: cover;
    box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.2);
}
#b3{
    background-image: url('artwork/Project\ 1/program_06.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#p4{
    z-index: 2;
}
#f4{
    background-image: url('artwork/Project\ 1/program_07.jpg');
    background-size: cover;
    box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.2);
}
#b4{
    background-image: url('artwork/Project\ 1/program_08.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#p5{
    z-index: 1;
}
#f5{
    background-image: url('artwork/Project\ 1/program_09.jpg');
    background-size: cover;
    box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.2);
}
#b5{
    background-image: url('artwork/Project\ 1/program_10.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*TICKETS*/

.ticket{
    width: 280px;
    height: 820px;
    perspective: 1000px;
}
.ticket:hover .ticket-inner{
    transform: rotateY(180deg);
}
.ticket-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.tf, .tb{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}
.tb{
    transform: rotateY(180deg);
}
#tf1{
    background-image: url('artwork/Project\ 1/REM_tickets.jpg');
    background-size: cover;
}
#tb1{
    background-image: url('artwork/Project\ 1/REM_tickets2.jpg');
    background-size: cover;
}
#tf2{
    background-image: url('artwork/Project\ 1/REM_tickets3.jpg');
    background-size: cover;
}
#tb2{
    background-image: url('artwork/Project\ 1/REM_tickets4.jpg');
    background-size: cover;
}
#tf3{
    background-image: url('artwork/Project\ 1/REM_tickets5.jpg');
    background-size: cover;
}
#tb3{
    background-image: url('artwork/Project\ 1/REM_tickets6.jpg');
    background-size: cover;
}
#tf4{
    background-image: url('artwork/Project\ 1/REM_tickets7.jpg');
    background-size: cover;
}
#tb4{
    background-image: url('artwork/Project\ 1/REM_tickets8.jpg');
    background-size: cover;
}

/*MOBILE*/

@media only screen and (max-width: 1400px){

    /*TEXT STYLES*/

    hr{
        width: 100%;
    }
    h1{
        font-family: "consolas";
        color: white;
        position: relative;
        cursor: pointer;
        font-size: 36px;
        font-weight: 200;
        animation: glitch 1s linear infinite;
    }
    h2{
        font-family: "consolas";
        color: white;
        font-size: 20px;
        font-weight: 200;
    }
    h3{
    
        font-family: "consolas";
        color: white;
        font-size: 12px;
        font-weight: 200;   
    }
    h4{
        font-family: "consolas-bold";
        color: white;
        font-size: 16px;
        font-weight: 200;   
    }
    ul{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    li{
        list-style: none;
        font-weight: 400;
        margin: 10px 0;
        font-family: "consolas";
        color: black;
        font-size: 12px;
    }
    .mobilelinks h2{
        color: white;
        text-decoration: none;
        text-align: center;
    }
    .mobile-nav h2{
        font-family: "consolas";
        color: white;
        font-size: 20px;
        font-weight: 200;
        position: relative;
        top: 50%
    }
    p{
        font-family: "consolas";
        font-size:  16px;
        line-height: 20px;
    }
    a{
        cursor: pointer;
    }
    blockquote{
        font-family: "consolas";
        font-size: 12px;
        line-height: 16px;
        color: white;
    }
    .case-study-headings{
        margin-top: 16px;
        font-family: "consolas bold";
    }
    .footer h2{
        color: white;
    }

    /*MOBILE CONTAINERS*/

    .content{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }
    .hero{
        display: none;
    }
    .grid-container-footer{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 32px;
    }
    #pfp{
        display: none;
    }

    /*PULSE*/

    .mobile-hero{
        display: block;
    }
    #index-item{
        margin-right: 24px;
    }
    .pulse{
        z-index: 1;
        display: flex;
        font-size: 10px;
        color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        background-color: rgba(0, 0, 0, 0);
        outline: solid 3px rgb(255, 255, 255);
        outline-offset: 5px;
        position: relative;
        justify-content: center;
        align-items: center;
        font-family: "consolas";
        font-size: 16px;
    }
    #pulse-1{
        top: 50%;
        left: 50%;
    }
    #pulse-2{
        top: 50%;
        left: 50%;
    }
    #pulse-3{
        top: 50%;
        left: 50%;
    }
    #pulse-4{
        top: 50%;
        left: 50%;
    }
    .pulse-svg{
        background-image: url('images/pulsewhite.svg');
        z-index: 2;
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .name-card{
        width: 175px;
        height: 175px;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        border-width: 3px;;
        background-color: rgb(0, 0, 0);
        display: inline-block;
        position: relative;
        outline: white;
        outline-offset: -5px;
        animation: name-card-pulse 3s ease-in-out infinite;
        vertical-align: middle;
        top: 20%;
        left: -25%;
        background-image: url('images/pulsewhite.svg');
    }
    .name-card-pulse{
        z-index: -2;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border-style: none;
        background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.168));
        position: absolute;
        outline: solid 3px white;
        outline-offset: 0;
        top: 0;
        left: 0;
    }
    .name-card-pulse:nth-child(2){
        outline: dotted 3px white;
        outline-offset: 20px;
        animation: rotate 40s linear infinite;
    }
    .name-card-pulse:nth-child(3){
        outline: solid 3px white;
        outline-offset: 40px;
    }
    .hero-text{
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        transform: translate(0, 200%);
    }


    /*MOBILE NAVIGATION*/

    .topnav{
        display: none;
    }
    .mobile-nav{
        display: block;
        width: 100%;
        height: 72px;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    .grid-container-mobilenav{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #mySidenav{
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: black;
        overflow-x: hidden;
        transition: 0.6s;
        display: block;
    }
    .mobilelinks{
        display: block;
        padding-top: 100px;
        text-decoration: none;
    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
        float: right;
        margin-top: 14px;
    }
    .bar{
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
    }
    .closebtn{
        color: white;
        font-size: 64px;
        top: 0;
        right: 0;
        float: right;
        padding-right: 14px;
        font-family: "consolas";
    }  

    /*MOBILE BOOK*/

    .book{
        position: relative;
        width: 275px;
        height: 427.5px;
        transition: transform 0.5s;
    }
    .paper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        perspective: 1500px;
    }


    /*MOBILE ANIMATION*/


        .about-title h2:before{
            animation: glitchtop 1s linear infinite;
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    }
        @keyframes glitchtop{
            2%, 64%{
                transform: translate(0px, 0px);
            }
            4%, 60%{
                transform: translate(1px, 0);
            }
            62%{
                transform: translate(30px, -1px) skew(-2deg);
            }
    }
        .about-title h2:after{
            animation: glitchbottom 1.5s linear infinite;
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            left: 64px;
    }
        @keyframes glitchbottom{
            2%, 64%{
                transform: translate(0, 0);
            }
            4%, 60%{
                transform: translate(0, 0);
            }
            62%{
                transform: translate(-30px, 1px) skew(21deg);
            }
    }
}



